.signin-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.signin-main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://res.cloudinary.com/drtiwkyvj/image/upload/v1760432648/login-wallpaper_m4odh6.jpg");
  background-color: black;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
}

.signin {
  padding: 26px;
  background: #212121;
  background: linear-gradient(
    0deg,
    rgba(38, 38, 38, 1) 0%,
    rgba(23, 23, 23, 1) 100%
  );
  border: 0.5px solid rgb(54, 53, 53);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.signin > div {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.route-link-signup {
  color: rgb(123, 123, 123);
  text-decoration: underline;
}

.login-to-account {
  font-size: large;
}

.dont-have-account {
  text-align: center;
}

.enter-info-below,
.dont-have-account {
  font-size: small;
  color: rgb(123, 123, 123);
}

.username,
.password {
  font-size: small;
}

.username-input,
.password-input {
  padding: 8px;
  font-size: small;
  border: 0.5px solid rgb(54, 53, 53);
  border-radius: 4px;
  background-color: #212121;
  color: white;
}

.username-input::placeholder {
  font-size: small;
  color: rgb(123, 123, 123);
}

.login-button {
  padding: 8px;
  border: 1px solid transparent;
  background-color: white;
  color: black;
  font-size: 0.85rem;
  border-radius: 6px;
  transition: opacity 0.2s;
  font-family: inherit;
}

.login-button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.login-button:disabled {
  cursor: not-allowed;
}
