* {
  margin: 0;
  padding: 0;
}
html,
body,
#root {
  font-family: "Geist", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: black;
}
